# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Introduce common Data Science libraries
- Provide examples of arithmetic expressions in Python

## Author
Aya Belaidi

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Numpy
3. Matplotlib 
4. Seaborn 
5. Scikit-learn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| VS Code with Python      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
results = (3*4)+5
results

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60 
hours

3.3333333333333335